* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 60%;
    height: 400px;
    margin-right: 20%;
    margin-left: 20%;
}

.container img {
    width: 100%;
    height: 500px;
}

.background{
    background-color: #EEF1F1;
}
.container form{
    padding: 12px;
}

.container table{
    padding: 15px;
}

table thead{
    background-color: rgb(66, 65, 65);
    color: #EEF1F1;
    text-align: center;
}
li a{
    font-size: 10px;
}

.contenedor{
    overflow-x: auto;
}